%% -*- mode: erlang -*-

{erl_opts, [debug_info , warnings_as_errors]}.

{edoc_opts, [ {pretty_printer, erl_pp}
            , {sort_functions, false}
            ]
}.

{alias, [{check, [eunit, dialyzer, edoc, lint]}]}.

{profiles, [{ lint
            , [{plugins, [{rebar3_lint, { git
                                        , "https://github.com/project-fifo/rebar3_lint.git"
                                        , {tag, "v0.1.9"}
                                        }
                          }]
               }]
            }]
}.

{deps, [{jsx, "2.9.0"}]}.
